 .whole {
  width: 100vw;
  height: 100vh;
  /* border: 5px solid yellow; */
 } 

.signup-container {
  max-width: 350px;
  max-height: 450px;
  margin: 50px auto;
  padding: 50px;
  background: #1a1a1a;
  border-radius: 8px;
  color: white;
}

.signup-container h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  color: #00c3ff;
}

.signup-container label {
  display: block;
  margin: 10px 0 5px;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #00c3ff;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #111;
  color: white;
}

.signup-container input[type="file"] {
  padding: 5px;
  background: none;
}

.signup-container .btn {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  background: #00c3ff;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-container .btn:hover {
  background: #008bb3;
  color: bisque;
}

.preview-container {
  text-align: center;
  margin-top: 10px;
}

.preview-image {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00c3ff;
}

.error {
  color: red;
  font-size: 14px;
}